.feedback-message {
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   color: #141414;
   max-width: 672px;
   padding: 22px;
   border-radius: 16px 16px 16px 0px;
   background: #ebf0f5;
}

.feedback-button {
   border-radius: 10px;
   border: 1px solid #0068bf;
   background: #fff;
   color: #0068bf;
   font-size: 16px;
   padding: 10px 45px;
   position: relative;
   transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
   font-weight: 400;
   margin: 0 8px;
}

.feedback-button:hover {
   background: #0068bf;
   color: #fff;
   border-color: #0068bf;
}

.feedback-button img {
   transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 930px) {
   .feedback-message__btns {
      flex-direction: column;
      gap: 12px;
   }

   .feedback-button {
      padding: 10px 50px;
      margin: 4px 0;
   }
}

@media (max-width: 700px) {
   .feedback-message {
      padding: 16px;
      margin-bottom: 8px;
      font-size: 14px;
   }
   .feedback-button {
      padding: 8px 40px;
      font-size: 14px;
   }
}
